<!DOCTYPE html>
<html lang="en" ng-app="nbt" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Welcome To NetBattleTech</title>		
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<link rel="shortcut icon" href="dist/0.1.0/img/favicon.ico">
		
		<link href="dist/0.1.0/libs/angular-1.4.6/angular-csp.css" rel="stylesheet" type="text/css"/>
		<link href="dist/0.1.0/css/nbt-client.min.css" rel="stylesheet" type="text/css"/>
	</head>
	<body ng-controller="loginController as login">
	
		<div class="dialog d-login ng-hide" ng-show="login.isVisible()">
			<div class="d-login-content">
				<h1>Authentication</h1>
				<form class="form" ng-submit="login.login()">
					<fieldset class="form-group">
						<legend class="form-group-legend">Credentials</legend>					

						<input id="username" class="form-field" type="text" placeholder="Username" ng-model="login.data.username" />
						<input id="password" class="form-field" type="password" placeholder="Password" ng-model="login.data.password" />												
					</fieldset>			
					<button class="button button-primary" type="submit">Login</button>
				</form>
			</div>
		</div>		
		
		<article>
			<header>
				
			</header>		
			<nav>
				<ul class="navigation">
					<li>
						<a href="#">Link 1</a>
					</li>
					<li>
						<a href="#">Link 2</a>
					</li>
					<li>
						<a href="#">Link 3</a>
					</li>
					<li>
						<a href="#">Link 4</a>
					</li>			
				</ul>				
			</nav>
	
			<h1>Welcome to NetBattleTech</h1>
			<p>Lorem goes here...</p>
			<button class="button button-primary" ng-click="login.show()">
				Login
			</button>
			
			<footer>
				
			</footer>
		</article>
						
		<script src="dist/0.1.0/libs/angular-1.4.6/angular.min.js" type="text/javascript"></script>
		<script src="dist/0.1.0/libs/angular-1.4.6/angular-route.min.js" type="text/javascript"></script>
		<script src="dist/0.1.0/libs/angular-1.4.6/angular-resource.min.js" type="text/javascript"></script>
		<script src="dist/0.1.0/libs/angular-1.4.6/angular-sanitize.min.js" type="text/javascript"></script>
		
		<script src="dist/0.1.0/js/nbt-client.min.js" type="text/javascript"></script>
	</body>
</html>