.button {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	padding: 0.5em 0.75em 0.55em 0.75em;
	color: black;
	background-color: $backgroundColorLighten;	
	outline: none;
	border-radius: $borderRadius;	
	border: 1px solid $primaryColorDarkerGrayed;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;		
}

.button:hover {
	color: black;
	box-shadow: 0 0 0.5em $boxShadowOutterColor;
}

.button:active {
	color: black;
	box-shadow: inset 0 0.1em 0.5em $boxShadowInnerColor;
}

.button:active:hover {
	box-shadow: 0 0 0.5em $boxShadowOutterColor, inset 0 0.1em 0.5em $boxShadowInnerColor;
}

.button-primary {
	@extend .button;
	color: white;
	background-color: darken($primaryColor, 5);
	border: 1px solid darken($primaryColor, 20);	
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
	color: white;
	background-color: darken($primaryColor, 10);
}

.button-success {
	@extend .button;
	color: white;
	background-color: darken($successColor, 5);
	border: 1px solid darken($successColor, 20);
}

.button-success:hover,
.button-success:active,
.button-success:focus {
	color: white;
	background-color: darken($successColor, 10);
}

.button-warning {
	@extend .button;
	color: white;
	background-color: darken($warningColor, 5);
	border: 1px solid darken($warningColor, 20);
}

.button-warning:hover,
.button-warning:active,
.button-warning:focus {
	color: white;
	background-color: darken($warningColor, 10);
}

.button-error {
	@extend .button;
	color: white;	
	background-color: darken($errorColor, 5);
	border: 1px solid darken($errorColor, 20);
}

.button-error:hover,
.button-error:focus,
.button-error:active {
	color: white;
	background-color: darken($errorColor, 10);
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active,
.button[disabled]:visited,
.button[disabled]:focus,
.button-disabled,
.button-disabled:hover,
.button-disabled:active,
.button-disabled:visited,
.button-disabled:focus{
	@extend .button;
	cursor: default;
	pointer-events: none;
	color: lighten($fontColor, 70);
	background-color: lighten($primaryColorLighterGrayed, 5);
	border: 1px solid lighten($primaryColorLighterGrayed, 5);
	box-shadow: none;
}