nav {
	overflow: hidden;
}

.navigation {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.navigation li {
	display: inline;
	margin: 0.1em 0 0.1em 1em;
	list-style-type: none;
}

.navigation li:first-child {
	margin-left: 0;
}

.n-site {
	float: left;
}

.n-user {
	float: right;
}